
.invalid-feedback {
    display: none;    
}

input:user-invalid + .invalid-feedback {
    display: block;
    color: $error-color;    
}

form:has(input[type="checkbox"]:not(:checked)) button[type="submit"] {
    pointer-events: none; 
    background-color: $color-gris;
    opacity: 0.5;     
}

span {
    color: $error_color;
}