body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 15px 30px;
  background-color: $color-header;
}

.logo img {
  width: 120px;
}

:is(.footer-content .logo) {
  position: absolute;
  left: 20px;    
}

.nav {
  position: relative;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: $color-blanc;
  cursor: pointer;
  background: none;    
  border: none;    
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;    
}

.menu li a i {
  display: none;
}

.social-icons a {
  margin: 0 10px;  
  font-size: 1em;  
  color: $color-menu;
}

.catchy-subtitle a {
  font-weight: bold;
  color: color(display-p3 1 0.8 0.3);  
  text-decoration: none;  
}

.menu li a {  
  font-size: 1.2em;  
  color: $color-menu;
  text-decoration: none;  
}

.carousel {
  max-width: 800px;
  margin: auto;
}

.carousel img {
  border-radius: 10px;
}

.catchy-section {
  padding: 40px;    
  text-align: center;  
  background-color: $color-azul;    
}

.catchy-title {
  font-size: 3rem;
  font-weight: bold;
  color: $color-blanc;
}

.catchy-subtitle {
  font-size: 1.5rem;
  color: $color-blanc;
}

.footer-menu ul li a {
  font-size: 1.2em;
  color: $color-menu;  
  text-decoration: none;  
}

.catchy-subtitle a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;        
  background-color: $color-peu;        
}

.footer-content {
  display: flex;
  justify-content: space-between;  
}

.footer-menu ul {
  display: flex;
  gap: 20px;
  list-style: none;    
}

.social-icons {
  position: absolute;
  right: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .hamburger {
      display: block;
  }

  .menu {
      position: absolute;  
      top: 60px;      
      right: 0;           
      z-index: 9999;              
      display: none;            
      flex-direction: column;                              
      width: 200px;                    
      padding: 10px;                 
      background-color: $color-peu;                  
  }

  .menu li a:is(.mobile) i {
    display: inline-block;
    margin-right: 10px;
  }

  .menu.active {
      display: flex;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-menu ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;    
  }

}
